Corroboramos que archivos tenemos en el bucket de data limpia

In [1]:
from google.cloud import storage
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file('my-project-89113-test-414ab76b7c55.json')
client = storage.Client(credentials=credentials)

# Obt√©n un objeto de cubo (bucket)
bucket = client.get_bucket('pf_cleaned_data')

# Lista los objetos en el bucket
blobs = bucket.list_blobs()

# Ejemplo: Imprimir nombres de los archivos en el bucket
for blob in blobs:
    print(blob.name)

Google/
Google/metadata_sitios/
Google/metadata_sitios/1.parquet
Google/metadata_sitios/10.parquet
Google/metadata_sitios/11.parquet
Google/metadata_sitios/2.parquet
Google/metadata_sitios/3.parquet
Google/metadata_sitios/4.parquet
Google/metadata_sitios/5.parquet
Google/metadata_sitios/6.parquet
Google/metadata_sitios/7.parquet
Google/metadata_sitios/8.parquet
Google/metadata_sitios/9.parquet
Google/reviews_estados/
Google/reviews_estados/review_Florida/
Google/reviews_estados/review_Florida/1.parquet
Google/reviews_estados/review_Florida/10.parquet
Google/reviews_estados/review_Florida/11.parquet
Google/reviews_estados/review_Florida/12.parquet
Google/reviews_estados/review_Florida/13.parquet
Google/reviews_estados/review_Florida/14.parquet
Google/reviews_estados/review_Florida/15.parquet
Google/reviews_estados/review_Florida/16.parquet
Google/reviews_estados/review_Florida/17.parquet
Google/reviews_estados/review_Florida/18.parquet
Google/reviews_estados/review_Florida/19.parquet
Google/reviews_estados/review_Florida/2.parquet
Google/reviews_estados/review_Florida/3.parquet
Google/reviews_estados/review_Florida/4.parquet
Google/reviews_estados/review_Florida/5.parquet
Google/reviews_estados/review_Florida/6.parquet
Google/reviews_estados/review_Florida/7.parquet
Google/reviews_estados/review_Florida/8.parquet
Google/reviews_estados/review_Florida/9.parquet
Google/reviews_estados/review_Pennsylvania/
Google/reviews_estados/review_Pennsylvania/1.parquet
Google/reviews_estados/review_Pennsylvania/10.parquet
Google/reviews_estados/review_Pennsylvania/11.parquet
Google/reviews_estados/review_Pennsylvania/12.parquet
Google/reviews_estados/review_Pennsylvania/13.parquet
Google/reviews_estados/review_Pennsylvania/14.parquet
Google/reviews_estados/review_Pennsylvania/15.parquet
Google/reviews_estados/review_Pennsylvania/16.parquet
Google/reviews_estados/review_Pennsylvania/2.parquet
Google/reviews_estados/review_Pennsylvania/3.parquet
Google/reviews_estados/review_Pennsylvania/4.parquet
Google/reviews_estados/review_Pennsylvania/5.parquet
Google/reviews_estados/review_Pennsylvania/6.parquet
Google/reviews_estados/review_Pennsylvania/7.parquet
Google/reviews_estados/review_Pennsylvania/8.parquet
Google/reviews_estados/review_Pennsylvania/9.parquet
Modelo_df/
Modelo_df/maps_concatenado2.parquet
Yelp/
Yelp/business.parquet
Yelp/checkin.parquet
Yelp/reviews/
Yelp/reviews/reviews_1.parquet
Yelp/reviews/reviews_10.parquet
Yelp/reviews/reviews_2.parquet
Yelp/reviews/reviews_3.parquet
Yelp/reviews/reviews_4.parquet
Yelp/reviews/reviews_5.parquet
Yelp/reviews/reviews_6.parquet
Yelp/reviews/reviews_7.parquet
Yelp/reviews/reviews_8.parquet
Yelp/reviews/reviews_9.parquet
Yelp/tips.parquet
Yelp/users/

Accedemos a la carpeta de Google Maps del bucket y extramos los archivos necesarios para colocarlos en distintos dataframes

In [5]:
import pandas as pd
from google.oauth2 import service_account
import gcsfs

credentials = service_account.Credentials.from_service_account_file(
    'my-project-89113-test-414ab76b7c55.json')

client = gcsfs.GCSFileSystem(project='my-project-89113-test', credentials=credentials)
bucket_name = 'pf_cleaned_data'

# Seleccionamos los archivos de Google Maps que necesitamos para el modelo
files = [
    'Google/metadata_sitios/1.parquet',
    'Google/metadata_sitios/2.parquet',
    'Google/metadata_sitios/3.parquet',
    'Google/metadata_sitios/4.parquet',
    'Google/metadata_sitios/5.parquet',
    'Google/metadata_sitios/6.parquet',
    'Google/metadata_sitios/7.parquet',
    'Google/metadata_sitios/8.parquet',
    'Google/metadata_sitios/9.parquet',
    'Google/metadata_sitios/10.parquet',
    'Google/reviews_estados/review_Florida/1.parquet',
    'Google/reviews_estados/review_Florida/2.parquet',
    'Google/reviews_estados/review_Florida/3.parquet',
    'Google/reviews_estados/review_Florida/4.parquet',
    'Google/reviews_estados/review_Florida/5.parquet',
    'Google/reviews_estados/review_Florida/6.parquet',
    'Google/reviews_estados/review_Florida/7.parquet',
    'Google/reviews_estados/review_Florida/8.parquet',
    'Google/reviews_estados/review_Florida/9.parquet',
    'Google/reviews_estados/review_Florida/10.parquet',
    'Google/reviews_estados/review_Florida/11.parquet',
    'Google/reviews_estados/review_Florida/12.parquet',
    'Google/reviews_estados/review_Florida/13.parquet',
    'Google/reviews_estados/review_Florida/14.parquet',
    'Google/reviews_estados/review_Florida/15.parquet',
    'Google/reviews_estados/review_Florida/16.parquet',
    'Google/reviews_estados/review_Florida/17.parquet',
    'Google/reviews_estados/review_Florida/18.parquet',
    'Google/reviews_estados/review_Florida/19.parquet',
    'Google/reviews_estados/review_Pennsylvania/1.parquet',
    'Google/reviews_estados/review_Pennsylvania/2.parquet',
    'Google/reviews_estados/review_Pennsylvania/3.parquet',
    'Google/reviews_estados/review_Pennsylvania/4.parquet',
    'Google/reviews_estados/review_Pennsylvania/5.parquet',
    'Google/reviews_estados/review_Pennsylvania/6.parquet',
    'Google/reviews_estados/review_Pennsylvania/7.parquet',
    'Google/reviews_estados/review_Pennsylvania/8.parquet',
    'Google/reviews_estados/review_Pennsylvania/9.parquet',
    'Google/reviews_estados/review_Pennsylvania/10.parquet',
    'Google/reviews_estados/review_Pennsylvania/11.parquet',
    'Google/reviews_estados/review_Pennsylvania/12.parquet',
    'Google/reviews_estados/review_Pennsylvania/13.parquet',
    'Google/reviews_estados/review_Pennsylvania/14.parquet',
    'Google/reviews_estados/review_Pennsylvania/15.parquet',
    'Google/reviews_estados/review_Pennsylvania/16.parquet'
]

for file in files:
    url = f'gs://{bucket_name}/{file}'
    print(f'Trying to access: {url}')
    df = pd.read_parquet(url, storage_options={'client': client})

# Leemos los archivos uno por uno para despues unirlos en dataframe segun corresponda
metadata_df = pd.concat([
    pd.read_parquet(f'gs://{bucket_name}/{file}', storage_options={'client': client}) for file in files if 'metadata_sitios' in file
])

reviews_df_florida = pd.concat([
    pd.read_parquet(f'gs://{bucket_name}/{file}', storage_options={'client': client}) for file in files if 'reviews_estados/review_Florida' in file
])

reviews_df_pennsylvania = pd.concat([
    pd.read_parquet(f'gs://{bucket_name}/{file}', storage_options={'client': client}) for file in files if 'reviews_estados/review_Pennsylvania' in file
])

Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/1.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/2.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/3.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/4.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/5.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/6.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/7.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/8.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/9.parquet
Trying to access: gs://pf_cleaned_data/Google/metadata_sitios/10.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/1.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/2.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/3.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/4.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/5.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/6.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/7.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/8.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/9.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/10.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/11.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/12.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/13.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/14.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/15.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/16.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/17.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/18.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Florida/19.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/1.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/2.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/3.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/4.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/5.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/6.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/7.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/8.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/9.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/10.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/11.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/12.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/13.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/14.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/15.parquet
Trying to access: gs://pf_cleaned_data/Google/reviews_estados/review_Pennsylvania/16.parquet

### Estado de Florida

In [6]:
reviews_df_florida.head(3)

,user_id,date,rating,text,gmap_id,state
0,1.014719e+20,2021-08-03,1,Update: Their ‚Äúreply‚Äù to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb,FL
1,1.154772e+20,2020-07-18,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb,FL
2,1.018050e+20,2018-04-05,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb,FL

In [7]:
reviews_df_florida.shape

(2730509, 6)

Visualizamos que tenemos casi 3 millones de registros y seis columnas

In [8]:
reviews_df_florida.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2730509 entries, 0 to 149997
Data columns (total 6 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   date     object
 2   rating   int64
 3   text     object
 4   gmap_id  object
 5   state    object
dtypes: float64(1), int64(1), object(4)
memory usage: 145.8+ MB

In [9]:
florida_nulos = reviews_df_florida.isnull().sum()
procentaje_nulos_florida = (florida_nulos/len(reviews_df_florida))*100
procentaje_nulos_florida

user_id     0.00000
date        0.00000
rating      0.00000
text       39.34673
gmap_id     0.00000
state       0.00000
dtype: float64

Como podemos observar casi el 40% de los registros en la columna texto son nulos como para el fin del modelo no va a aportar informacion procedemos a eliminarlos

In [10]:
reviews_df_florida = reviews_df_florida.dropna(subset=["text"])

In [11]:
reviews_df_florida["year"] = pd.to_datetime(reviews_df_florida['date']).dt.year

In [12]:
reviews_df_florida["year"].value_counts()

year
2019    458513
2018    362746
2020    322460
2021    209412
2017    198046
2016     72583
2015     18303
2014      6878
2013      4015
2012      1957
2011       859
2010       235
2009        85
2008        23
2007        15
2003         7
2005         4
2006         2
Name: count, dtype: int64

Para lo que corresponde al modelo vamos a utilizar las rese√±as que abarcan del a√±o 2015 en adelante

In [13]:
reviews_df_florida_filtrado = reviews_df_florida[reviews_df_florida['year'] >= 2015]

In [14]:
reviews_df_florida_filtrado["year"].value_counts()

year
2019    458513
2018    362746
2020    322460
2021    209412
2017    198046
2016     72583
2015     18303
Name: count, dtype: int64

In [15]:
reviews_df_florida_filtrado.columns

Index(['user_id', 'date', 'rating', 'text', 'gmap_id', 'state', 'year'], dtype='object')

Las columnas date y year no seran de utilidad para el modelo asi que procedemos a eliminarlas

In [16]:
# Columnas que queremos conservar
columnas_necesarias = ["user_id", "rating", "text", "gmap_id", "state"]
# Creamos un nuevo dataframe con solo esas columnas
reviews_df_florida_filtrado2 = reviews_df_florida_filtrado[columnas_necesarias].copy()

In [17]:
reviews_df_florida_filtrado2.head(3)

,user_id,rating,text,gmap_id,state
0,1.014719e+20,1,Update: Their ‚Äúreply‚Äù to my review amounted to...,0x8893863ea87bd5dd:0x9383ebf973e74abb,FL
1,1.154772e+20,5,He's a knowledgeable doctor but the way he run...,0x8893863ea87bd5dd:0x9383ebf973e74abb,FL
2,1.018050e+20,5,"Best doctor I've ever had, I never wait to be ...",0x8893863ea87bd5dd:0x9383ebf973e74abb,FL

### Estado de Pennsylvania

In [18]:
reviews_df_pennsylvania.head(3)

,user_id,date,rating,text,gmap_id,state
0,1.049447e+20,2018-02-04,5,"Joe is quite unique of his line of work, he as...",0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
1,1.176097e+20,2016-10-12,5,For such a small place their impact on my life...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
2,1.105632e+20,2012-06-04,5,I usually give them a call before I stop by to...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA

In [19]:
reviews_df_pennsylvania.shape

(2366371, 6)

Visualizamos que tenemos casi 2 millones y medio de registros y seis columnas

In [20]:
reviews_df_pennsylvania.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2366371 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  float64
 1   date     object
 2   rating   int64
 3   text     object
 4   gmap_id  object
 5   state    object
dtypes: float64(1), int64(1), object(4)
memory usage: 126.4+ MB

In [21]:
pennsylvania_nulos = reviews_df_pennsylvania.isnull().sum()
procentaje_nulos_pennsylvania = (pennsylvania_nulos/len(reviews_df_pennsylvania))*100
procentaje_nulos_pennsylvania

user_id     0.00000
date        0.00000
rating      0.00000
text       43.88082
gmap_id     0.00000
state       0.00000
dtype: float64

Como podemos observar casi el 44% de los registros en la columna texto son nulos como para el fin del modelo no va a aportar informacion procedemos a eliminarlos

In [22]:
reviews_df_pennsylvania = reviews_df_pennsylvania.dropna(subset=["text"])

Corroboramos que no quede ningun nulo en la columna de las reviews

In [23]:
pennsylvania_nulos = reviews_df_pennsylvania.isnull().sum()
procentaje_nulos_pennsylvania = (pennsylvania_nulos/len(reviews_df_pennsylvania))*100
procentaje_nulos_pennsylvania

user_id    0.0
date       0.0
rating     0.0
text       0.0
gmap_id    0.0
state      0.0
dtype: float64

In [24]:
reviews_df_pennsylvania["year"] = pd.to_datetime(reviews_df_pennsylvania['date']).dt.year

In [25]:
reviews_df_pennsylvania["year"].value_counts()

year
2019    383450
2018    308240
2020    249745
2017    174323
2021    138533
2016     52861
2015     11226
2014      4008
2013      2794
2012      1588
2011       796
2010       279
2009        83
2008        39
2006        14
2007         7
1990         1
2005         1
Name: count, dtype: int64

En este caso se visualiza que el a√±o mas antiguo registrado es 1990 a diferencia del otro dataframe pero como dijimos antes para lo que corresponde al modelo dejaremos de 2015 en adelante

In [26]:
reviews_df_pennsylvania_filtrado = reviews_df_pennsylvania[reviews_df_pennsylvania['year'] >= 2015]

In [27]:
reviews_df_pennsylvania_filtrado["year"].value_counts()

year
2019    383450
2018    308240
2020    249745
2017    174323
2021    138533
2016     52861
2015     11226
Name: count, dtype: int64

Podemos afirmar que se seleccionarion los a√±os de manera correcta

In [28]:
reviews_df_pennsylvania_filtrado.columns

Index(['user_id', 'date', 'rating', 'text', 'gmap_id', 'state', 'year'], dtype='object')

Las columnas date y year no seran de utilidad para el modelo asi que procedemos a eliminarlas

In [29]:
# Columnas que queremos conservar
columnas_necesarias2 = ["user_id", "rating", "text", "gmap_id", "state"]
# Creamos un nuevo dataframe con solo esas columnas
reviews_df_pennsylvania_filtrado2 = reviews_df_pennsylvania_filtrado[columnas_necesarias2].copy()

In [30]:
reviews_df_pennsylvania_filtrado2.head(3)

,user_id,rating,text,gmap_id,state
0,1.049447e+20,5,"Joe is quite unique of his line of work, he as...",0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
1,1.176097e+20,5,For such a small place their impact on my life...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA
4,1.106197e+20,5,Always an easy experience. Service is knowledg...,0x89c6c63c8cd87141:0x54d0d283872eecbb,PA

### Dataset de Metadata de Google Maps

In [31]:
metadata_df.head(3)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,MISC,city,state
68,Vivi Bubble Tea,"Vivi Bubble Tea, 701 S 5th St, Philadelphia, P...",0x89c6c89efcaed69d:0xded973f6033e7dba,"Bubble tea shop offering hot & cold versions, ...",39.940293,-75.150923,Restaurant,4.0,8,None,"{""Service options"": [""Delivery""], ""Amenities"":...",Philadelphia,PA
114,Cape Seafood Shack,"Cape Seafood Shack, 603 Del Prado Blvd S, Cape...",0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,None,26.641377,-81.940545,Restaurant,5.0,1,$$,"{""Service options"": [""Dine-in"", ""Delivery""], ""...",Cape Coral,FL
115,Fresh Point Country Buffet,"Fresh Point Country Buffet, 10525 US-19, Pinel...",0x88c2e4e34f1ed783:0x76c5da381c499d79,None,27.867489,-82.702971,Buffet restaurant,5.0,2,None,"{""Service options"": [""Delivery""], ""Accessibili...",Pinellas Park,FL

In [32]:
metadata_df.shape

(18933, 13)

Visualizamos que tenemos casi 19 mil registros y 13 columnas

In [33]:
metadata_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18933 entries, 68 to 274834
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            18933 non-null  object
 1   address         18933 non-null  object
 2   gmap_id         18933 non-null  object
 3   description     6186 non-null   object
 4   latitude        18933 non-null  float64
 5   longitude       18933 non-null  float64
 6   category        18933 non-null  object
 7   avg_rating      18933 non-null  float64
 8   num_of_reviews  18933 non-null  int64
 9   price           8467 non-null   object
 10  MISC            18831 non-null  object
 11  city            18933 non-null  object
 12  state           18933 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 2.0+ MB

In [34]:
metada_nulos = metadata_df.isnull().sum()
pocentaje_nulos_metadata = (metada_nulos/len(metadata_df))*100
pocentaje_nulos_metadata

name               0.000000
address            0.000000
gmap_id            0.000000
description       67.326890
latitude           0.000000
longitude          0.000000
category           0.000000
avg_rating         0.000000
num_of_reviews     0.000000
price             55.279142
MISC               0.538742
city               0.000000
state              0.000000
dtype: float64

Aqui evidenciamos que las columnas description, price y MISC poseen nulos en distintas proporciones pero ninguna de estas columnas seran utilizadas para el modelo por eso no las vamos a eliminar y solamente vamos a seleccionar las columnas necesarias

In [35]:
# Columnas que queremos conservar
columnas_necesarias3 = ["name", "gmap_id", "category", "avg_rating", "city","state"]
# Creamos un nuevo dataframe con solo esas columnas
metadata_df_filtrado = metadata_df[columnas_necesarias3].copy()

In [36]:
metadata_df_filtrado.head(3)

,name,gmap_id,category,avg_rating,city,state
68,Vivi Bubble Tea,0x89c6c89efcaed69d:0xded973f6033e7dba,Restaurant,4.0,Philadelphia,PA
114,Cape Seafood Shack,0x88db4147b1d9e6f3:0x943dbd10a92ba1b1,Restaurant,5.0,Cape Coral,FL
115,Fresh Point Country Buffet,0x88c2e4e34f1ed783:0x76c5da381c499d79,Buffet restaurant,5.0,Pinellas Park,FL

In [37]:
# Corroboramos si quedan nulos en las columnas elegidas
metada_nulos2 = metadata_df_filtrado.isnull().sum()
pocentaje_nulos_metadata2 = (metada_nulos2/len(metadata_df_filtrado))*100
pocentaje_nulos_metadata2

name          0.0
gmap_id       0.0
category      0.0
avg_rating    0.0
city          0.0
state         0.0
dtype: float64

### Union de los dataframes de Google Maps

Apartir del dataframe de metadata lo unimos primero con la reviews de florida y despues con las de pennsylvania

In [38]:
merged_df_florida = pd.merge(metadata_df_filtrado, reviews_df_florida_filtrado2, on='gmap_id', how='inner')
merged_df_pennsylvania = pd.merge(metadata_df_filtrado, reviews_df_pennsylvania_filtrado2, on='gmap_id', how='inner')

In [39]:
merged_df_florida.head(3)

,name,gmap_id,category,avg_rating,city,state_x,user_id,rating,text,state_y
0,Gormley's on the river | Modern cuisine in his...,0x8894b5a7a7909725:0xe4687299fd288188,"Modern French restaurant, Restaurant",4.3,Apalachicola,FL,1.130683e+20,5,The salads were lackluster though with well wr...,FL
1,Gormley's on the river | Modern cuisine in his...,0x8894b5a7a7909725:0xe4687299fd288188,"Modern French restaurant, Restaurant",4.3,Apalachicola,FL,1.059416e+20,1,"Love this place. Great little restaurant, with...",FL
2,Gormley's on the river | Modern cuisine in his...,0x8894b5a7a7909725:0xe4687299fd288188,"Modern French restaurant, Restaurant",4.3,Apalachicola,FL,1.098577e+20,5,A classy restaurant to match the charm of the ...,FL

In [40]:
merged_df_pennsylvania.head(3)

,name,gmap_id,category,avg_rating,city,state_x,user_id,rating,text,state_y
0,Crown Fried Chicken,0x89c587762e7e69dd:0x30a60dce48b073c3,Restaurant,4.2,Bloomsburg,PA,1.162409e+20,5,Inexpensive and delicious food. Reminds me of ...,PA
1,Crown Fried Chicken,0x89c587762e7e69dd:0x30a60dce48b073c3,Restaurant,4.2,Bloomsburg,PA,1.089870e+20,3,pros\nstaff were nice\nprices were good for qu...,PA
2,Crown Fried Chicken,0x89c587762e7e69dd:0x30a60dce48b073c3,Restaurant,4.2,Bloomsburg,PA,1.092182e+20,2,"The chicken was nice and crispy, but it had a ...",PA

In [50]:
# En el dataframe merged_df_florida filtramos las cuidades de Orlando y Miami
df_florida = merged_df_florida[merged_df_florida['city'].isin(['Miami','Orlando'])]
print(df_florida['city'].value_counts())

city
Orlando    11777
Miami       9265
Name: count, dtype: int64

In [51]:
# En el dataframe merged_df_pennsylvania filtramos la cuidad de Philadelphia
df_pennsylvania = merged_df_pennsylvania[merged_df_pennsylvania['city'].isin(['Philadelphia'])]
print(df_pennsylvania['city'].value_counts())

city
Philadelphia    20700
Name: count, dtype: int64

Una vez que obtenemos metadata filtrado por los estados y unidos con las reviews, procedemos a concatenar los dataframes para que solo quede uno

In [41]:
""" maps_concatenado = pd.concat([merged_df_florida, merged_df_pennsylvania], ignore_index=True) """

Debido a nuestro alcance solo utilizaremos las cuidades de Miami, Orlando y Philadelphia por lo que concatenaremos los dataframes ya filtrados

In [52]:
maps_concatenado = pd.concat([df_florida, df_pennsylvania], ignore_index=True)

Eliminamos la columna gmap_id dado que ya no aporta informacion necesaria para el modelo al ser una columna identificatoria. Tambien eliminamos la columna state_x que se encuentra duplicada

In [55]:
maps_concatenado = maps_concatenado.drop('gmap_id', axis=1)

KeyError: "['gmap_id'] not found in axis"

In [56]:
maps_concatenado = maps_concatenado.drop('state_x', axis=1)

KeyError: "['state_x'] not found in axis"

In [57]:
maps_concatenado = maps_concatenado.rename(columns={'state_y':'state'})

In [58]:
maps_concatenado.head(3)

,name,category,avg_rating,city,user_id,rating,text,state
0,Choices Cafe,Restaurant,4.6,Miami,1.049464e+20,5,I love Choices! All their locations.. I've be...,FL
1,Choices Cafe,Restaurant,4.6,Miami,1.089759e+20,5,Absolutely delicious! And not so badly priced....,FL
2,Choices Cafe,Restaurant,4.6,Miami,1.091078e+20,4,Fantastic vegan & organic place in Miami. A tr...,FL

In [59]:
maps_concatenado.shape

(41742, 8)

In [49]:
# Este codigo se utilizo para visualizar las cuidades de cada estado que cuentan con mas reviews
""" grouped_data = maps_concatenado.groupby(['state','city']).size().reset_index(name='num_reviews')
top_cities = grouped_data.sort_values(['state','num_reviews'], ascending=[True,False]).groupby('state').head(2)
top_cities """

     state          city  num_reviews
691     FL       Orlando        11777
642     FL         Miami         9265
1541    PA  Philadelphia        20700
1548    PA    Pittsburgh         6645

Por ultimo vamos a guardar el nuevo dataframe en un bucket de GCP

In [60]:
maps_concatenado.to_parquet("maps_concatenado.parquet", index=False)

In [61]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "my-project-89113-test-414ab76b7c55.json"

In [62]:
bucket_name = "pf_cleaned_data"
gcs_folder = "Modelo_df"

gcs_path = f"gs://{bucket_name}/{gcs_folder}/maps_concatenado2.parquet"
fs = gcsfs.GCSFileSystem(project="my-project-89113-test", token=None, access="read_write", requester_pays=True)

with fs.open(gcs_path, "wb") as f:
    f.write(open("maps_concatenado.parquet", "rb").read())