In [2]:
#Importamos a libreria pandas especializada en frames frandes para abrir y manipular los dataset
import bigframes.pandas as bf
import pandas as pd

### **ETL YELP**

### BUSINESSS

In [ ]:
#Cargamos el dataset de Business
business = bf.read_gbq("my-project-89113-test.DatosYelp.business")

In [ ]:
#Se cargan los primeros registros para ver si se cargo con exito la base de datoss
business.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,SWrUyOkijbZPp6If7UMzjw,1000 Degrees Pizza,4526 New Linden Hill Rd,Wilmington,PA,19808,39.739307,-75.688887,3.0,32,1,"{'BusinessParking': ""{'garage': None, 'street'...","Chicken Wings, Pizza, Salad, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
1,rrdedTMczyniP8WjUof9pg,Hhgregg,10 Quarry Rd,Downingtown,TN,19335,40.017107,-75.676523,1.5,13,0,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Home & Garden, Appliances, Electronics, Shopping",<NA>
2,sKVnutBKNgSOfhLaB3MTpA,Abbott's Also Candy Store,3744 E 82nd St,Indianapolis,IN,46204,39.910638,-86.10187,4.0,20,1,"{'BikeParking': 'False', 'RestaurantsPriceRang...","Shopping, Chocolatiers & Shops, Specialty Food...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."

In [ ]:
#Se observan las dimensiones del dataframe
business.shape

(150346, 14)

In [ ]:
#Se extrae la informacion basica del dataset, extrayendo el tipo de objeto de cada variable
business.info()

#Se observa que se tienen;
# 9 variables pertenecientes a la clase string
# 3 variable pertenecientes a la clase float (decimales)
# 2 variables pertenecientes a la clase int (enteros)
# Para un total de 14 variables

<class 'bigframes.dataframe.DataFrame'>

Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):

  #  Column        Non-Null Count    Dtype
---  ------------  ----------------  -------
  0  business_id   150346 non-null   string
  1  name          150346 non-null   string
  2  address       145219 non-null   string
  3  city          150346 non-null   string
  4  state         150343 non-null   string
  5  postal_code   150273 non-null   string
  6  latitude      150346 non-null   Float64
  7  longitude     150346 non-null   Float64
  8  stars         150346 non-null   Float64
  9  review_count  150346 non-null   Int64
 10  is_open       150346 non-null   Int64
 11  attributes    136602 non-null   string
 12  categories    150243 non-null   string
 13  hours         127123 non-null   string
dtypes: Float64(3), Int64(2), string(9)
memory usage: 18041520 bytes

In [ ]:
#Se comprueba nuevamente cantidad de datos nulos o vacios en el dataset
business.isna().sum()

#Se encuentran una cantidad de datos nulos en las variables de address, postal_code y state

business_id         0.0
name                0.0
address          5127.0
city                0.0
state               3.0
postal_code        73.0
latitude            0.0
longitude           0.0
stars               0.0
review_count        0.0
is_open             0.0
attributes      13744.0
categories        103.0
hours           23223.0
dtype: Float64

In [ ]:
#Previo a limpiar valores nulos se prosigue a filtrar el dataset a traves de los 7 estados que se eligieron que son:
# PA: Pennsylvania
# FL: Florida
# TN: Tennessee
# IN: Indiana
# MO: Missouri
# LA: Louisiana
# AZ: Arizona

#Se guardan en una lista los estados seleccionados
estados = ['PA', 'FL', 'TN', 'IN', 'MO','LA','AZ']
business2=business[business['state'].isin(estados)]

In [ ]:
#Se observan las dimensiones del nuevo dataset de business filtrado a traves de los estados
business2.shape

(114419, 14)

In [ ]:
#Se prosigue a filtrar el dataset seleccionando unicamente los negocios que pertenezcan a la categoria restaurantes
business2['categories'] = business2['categories'].fillna('')

# Se seleccionan registros donde la variable "categories" contiene la palabra 'Restaurants'
new_business = business2[business2['categories'].str.lower().str.strip().str.contains('restaurants')]

In [ ]:
#Se observa la dimension del nuevo dataframe de business
new_business.shape

(39738, 14)

In [ ]:
#Se observa si hay datos nulos en este nuevo dataframe
new_business.isna().sum()

business_id        0.0
name               0.0
address          336.0
city               0.0
state              0.0
postal_code       17.0
latitude           0.0
longitude          0.0
stars              0.0
review_count       0.0
is_open            0.0
attributes       437.0
categories         0.0
hours           5556.0
dtype: Float64

In [ ]:
#Se procede a reemplazar valores nulos
new_business['address']=new_business['address'].fillna('')
new_business['postal_code']=new_business['postal_code'].fillna('')

In [ ]:
#Se confirma que no queden valores nulos
new_business.isna().sum()

business_id        0.0
name               0.0
address            0.0
city               0.0
state              0.0
postal_code        0.0
latitude           0.0
longitude          0.0
stars              0.0
review_count       0.0
is_open            0.0
attributes       437.0
categories         0.0
hours           5556.0
dtype: Float64

In [ ]:
new_business.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,SWrUyOkijbZPp6If7UMzjw,1000 Degrees Pizza,4526 New Linden Hill Rd,Wilmington,PA,19808,39.739307,-75.688887,3.0,32,1,"{'BusinessParking': ""{'garage': None, 'street'...","Chicken Wings, Pizza, Salad, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
5,9pVTWJaOQx-LnF3KeQBhOw,Triple B Boise's Best Burgers,615 S 9th St,Boise,MO,83702,43.612089,-116.208841,5.0,11,1,{'OutdoorSeating': 'True'},"Food Trucks, Food, Burgers, Restaurants","{'Monday': '11:0-15:0', 'Tuesday': '11:0-15:0'..."
8,TZLa2i8s8uD9tF8abVef1g,Arby's,5950 Crawfordsville Rd,Indianapolis,AZ,46224,39.798962,-86.264643,3.5,12,1,"{'RestaurantsAttire': ""'casual'"", 'BusinessPar...","Desserts, Sandwiches, Salad, Food, Fast Food, ...",<NA>

### REVIEW

In [ ]:
#Cargamos el dataset de reviews
reviews = bf.read_gbq("my-project-89113-test.DatosYelp.reviews")

In [ ]:
#Se cargan los primeros registros para ver si se cargo con exito la base de datoss
reviews.head(3)

,text,cool,stars,date,funny,review_id,useful,business_id,user_id
0,This was our second visit to Sam's.....the fir...,0,3.0,2015-10-04 00:09:01+00:00,0,rIdNRLhadoH-2gES1Bb6Ig,2,05471AhNLv1NxKoaVs4gYw,_3xZeLO4ru_6LYnMB_0KvA
1,Good service and fun drink names. Food was rea...,1,4.0,2015-09-18 17:03:15+00:00,0,X6YLgxF7kQCGM7H8NRmQbA,0,vP_Rkh68ohANnCL-nXED6Q,hIlQOXn094Q205B_vu7Sjw
2,So my wife dragged me to this place on our las...,2,5.0,2007-07-18 23:15:34+00:00,0,So1uJsJZ3R4_tAOLoxKwUQ,2,RQAF6a0akMiot5lZZnMNNw,PwRFik_EzeJTAvojbQyd0A

In [ ]:
#Se realiza un resumen de dataframe con la funcion .info()
reviews.info()

<class 'bigframes.dataframe.DataFrame'>

Index: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
  #  Column       Dtype
---  -----------  ------------------------------
  0  text         string
  1  cool         Int64
  2  stars        Float64
  3  date         timestamp[us, tz=UTC][pyarrow]
  4  funny        Int64
  5  review_id    string
  6  useful       Int64
  7  business_id  string
  8  user_id      string
dtypes: Float64(1), Int64(3), string(4), timestamp[us, tz=UTC][pyarrow](1)
memory usage: 559222400 bytes

In [ ]:
#Se observa la dimension del dataset review con un poco menos de 7 millones de registros y 9 variables
reviews.shape

(6990280, 9)

In [ ]:
#Se guardan los id unicos de los negocios del dataset business que ya fue previamente transformado
ids_business=new_business['business_id'].unique()
ids_business=ids_business.tolist()

#Se filtra el dataset business seleccionando unicamente aquellas reseñas de los negocios seleccionados
new_reviews= reviews[reviews['business_id'].isin(ids_business)]

In [ ]:
#Se observa la dimension del nuevo dataframe de reviews filtrado
new_reviews.shape

#### REVISAR POR QUE NO APARECE EL NUEVO DATAFRAME ####

(3563580, 9)

In [ ]:
#Se buscan valores nulos dentro del dataframe reviews y se observa que no se encontro ninguno.
new_reviews.isna().sum()

text           0.0
cool           0.0
stars          0.0
date           0.0
funny          0.0
review_id      0.0
useful         0.0
business_id    0.0
user_id        0.0
dtype: Float64

In [ ]:
new_reviews.head(1)

BadRequest: 400 POST https://bigquery.googleapis.com/bigquery/v2/projects/my-project-89113-test/jobs?prettyPrint=false: The query is too large. The maximum standard SQL query length is 1024.00K characters, including comments and white space characters.

Location: US
Job ID: 5a58c957-4fcc-4bcd-8383-a2690af68ae4

BadRequest: 400 POST https://bigquery.googleapis.com/bigquery/v2/projects/my-project-89113-test/jobs?prettyPrint=false: The query is too large. The maximum standard SQL query length is 1024.00K characters, including comments and white space characters.

Location: US
Job ID: 7f42dbd0-d058-4b9e-9e61-78ce4f068341

In [ ]:
new_reviews_file_path = 'gs://pf_raw_data/new_reviews*.parquet'
new_reviews.to_parquet(new_reviews_file_path)

BadRequest: 400 POST https://bigquery.googleapis.com/bigquery/v2/projects/my-project-89113-test/jobs?prettyPrint=false: The query is too large. The maximum standard SQL query length is 1024.00K characters, including comments and white space characters.

Location: US
Job ID: 11ececca-5ca3-4d2b-a22f-a1b77a7d4d02

# CHECKIN

In [ ]:
#Cargamos el dataset de checkin
checkin = bf.read_gbq("my-project-89113-test.DatosYelp.checkin")

In [ ]:
#Se cargan los primeros registros para confirmar si se cargo correctamente la tablab
checkin.head(3)

                                                date             business_id
0  2012-06-27 20:48:34, 2012-07-18 22:11:50, 2012...  pl-F3mfBJaGSkTSM_BJtlw
1           2019-05-13 16:49:27, 2020-11-09 16:17:35  23qqGLIPya3prncQd7aL8A
2  2017-05-27 14:57:00, 2017-06-15 15:28:54, 2017...  aZz7sJReopPCV9KWvKSTng

[3 rows x 2 columns]

In [ ]:
#Se hace un resumen general de los datos de checkin
checkin.info()

<class 'bigframes.dataframe.DataFrame'>

Index: 131930 entries, 0 to 131929
Data columns (total 2 columns):

  #  Column       Non-Null Count    Dtype
---  -----------  ----------------  -------
  0  date         131930 non-null   string
  1  business_id  131930 non-null   string
dtypes: string(2)
memory usage: 3166320 bytes

In [ ]:
#Se observan las dimensiones el dataframe checkin inicial
checkin.shape

(131930, 2)

In [ ]:
#Se hace un conteo de nulos
checkin.isna().sum()

#No se encontraron datos nulos en el dataframe

date           0.0
business_id    0.0
dtype: Float64

In [ ]:
#Se filtra el dataset checkin seleccionando unicamente aquellas filas de los negocios seleccionados
new_checkin= checkin[checkin['business_id'].isin(ids_business)]

In [ ]:
#Se observa que el nuevo dataframe filtrado de checkin cuenta con 39001 registros
new_checkin.shape

(39001, 2)

In [ ]:
#Para hacer un resumen de los datos y encontrar nulos, creamos el mismo dataframe a pandas
new_checkin =new_checkin.to_pandas()

In [ ]:
#Se hace un resumen de las variables donde ambas pertenecen a la categoria string
new_checkin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39001 entries, 8 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         39001 non-null  string
 1   business_id  39001 non-null  string
dtypes: string(2)
memory usage: 130.8 MB

In [ ]:
#Se hace una busqueda de valores vacios dentro del dataframe
new_checkin.isna().sum()

#No se encontraron valores vacios en el dataframe

date           0
business_id    0
dtype: int64

In [ ]:
#Se imprimen los primeros registros del nuevo df de checkin
new_checkin.head(3)

                                                 date             business_id
8   2014-04-21 17:04:55, 2014-05-13 14:49:54, 2014...  Z7fw-YKQTHiNZqu_Vw10Pg
10  2017-04-08 17:08:30, 2017-04-09 20:05:32, 2017...  b5PFC7Uatlsr5AZqSZyCpQ
11                                2020-10-08 22:59:44  HoxAwFKunUzqscWtOnA9sg

## TIPS

In [ ]:
#Cargamos el dataset de Tips
tips = bf.read_gbq("my-project-89113-test.DatosYelp.tips")

In [ ]:
#Se cargan los primeros 3 registros para ver si se cargo correctamente ell dataframe
tips.head(3)

,date,text,compliment_count,business_id,user_id
0,2018-01-29 17:03:37+00:00,Add a shot to your espresso drink every Monday...,0,tN5Q82mcwOeVJVWVo_2AFA,1SgY8S8Jlw-FmfGhWm486A
1,2011-10-01 18:17:31+00:00,Lets see how their sushi is,0,wZ6EfAVljGcjT1JPbc9htA,EQ0KAYByBsMo2E6VVnmD3Q
2,2012-03-09 17:25:52+00:00,I love that they'll do samples ....perfect for...,0,4h5-Tyev0jX1GsuzUo_rYw,U-soawimJnsK_3PSYtNZGg

In [ ]:
#Se hace un resumen de los datos
tips.info()

#Como se observa se cuenta con 3 variables string, una variable de numeros enteros y  una variable de fechas

<class 'bigframes.dataframe.DataFrame'>

Index: 908915 entries, 0 to 908914
Data columns (total 5 columns):
  #  Column            Dtype
---  ----------------  ------------------------------
  0  date              timestamp[us, tz=UTC][pyarrow]
  1  text              string
  2  compliment_count  Int64
  3  business_id       string
  4  user_id           string
dtypes: Int64(1), string(3), timestamp[us, tz=UTC][pyarrow](1)
memory usage: 43627920 bytes

In [ ]:
#Se hace un conteo de nulos
tips.isna().sum()

#No se encontraron datos nulos en el dataframe

date                0.0
text                0.0
compliment_count    0.0
business_id         0.0
user_id             0.0
dtype: Float64

In [ ]:
#Se observan las dimensiones del dataframe tips
tips.shape

(908915, 5)

In [ ]:
#Se filtra el dataset tips seleccionando unicamente aquellos tips de los negocios seleccionados
new_tips= tips[tips['business_id'].isin(ids_business)]

In [ ]:
#Se observa que una vez fitrado el dataframe tips, la cantidad de filas se redujeron casi a la mitad
new_tips.shape

(492723, 5)

In [ ]:
#Se pasa el df a un dataframe de pandas para poder hacer un ETL del nuevo dataframe de tips
new_tips=new_tips.to_pandas()

In [ ]:
#Se hace un resumen de la informacion de cada una de las variables del dataframe resultante de tips
new_tips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 492723 entries, 1 to 908913
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              492723 non-null  timestamp[us, tz=UTC][pyarrow]
 1   text              492723 non-null  string
 2   compliment_count  492723 non-null  Int64
 3   business_id       492723 non-null  string
 4   user_id           492723 non-null  string
dtypes: Int64(1), string(3), timestamp[us, tz=UTC][pyarrow](1)
memory usage: 67.2 MB

## USERS